<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>webhwp</title>
<style type="text/css">
* {box-sizing:border-box;}
div {background-color:green;border:1px solid black;}
span {background-color:red;border:1px solid black;}
</style>
<script type="text/javascript" src="./js/lib/jindo2.all.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/lib/jindo_component.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/lib/jquery-3.6.0.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/webhwp-debug.js" charset="utf-8"></script>
<script type="text/javascript">
window.onload = function() {
	function measureText() {
		//var result = hwp.text.measureText("A", "");
		//console.log("result = " + result);
		var span, block, div;
		span = document.querySelector("span");
		block = document.querySelector("div.block");
		//div = document.querySelector("div.div");
	
		span.innerHTML = "";
		span.appendChild(document.createTextNode("A"));
	
		var result = {};
		block.style.verticalAlign = 'baseline';
		result.ascent = (block.offsetTop - span.offsetTop);
		block.style.verticalAlign = 'bottom';
		result.height = (block.offsetTop - span.offsetTop);
		result.descent = result.height - result.ascent;
		result.width = span.offsetWidth;
	}

	function draw() {
			
	}

}
</script>
</head>
<body>
<div class="div" style="position:absolute;top:0;left:0;width:500px;height:200px;">
	<span></span>
	<div class="block" style="display:inline-block;width:1px;height:0;"></div>
</div>
</body>
</html>