{
  "extends": ["airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.lint.json"
  },
  "rules": {
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/lines-between-class-members": "off",
    "class-methods-use-this": "off",
    "comma-dangle": [
      "error", {
        "arrays": "ignore",
        "functions": "ignore",
        "objects": "ignore"
      }
    ],
    "curly": "off",
    "nonblock-statement-body-position": "off",
    "no-bitwise": "off",
    "no-param-reassign": "off",
    "padded-blocks": "off",
    "spaced-comment": "off",
    "yoda": "off"
  }
}
